.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}

.flexBox {
  display: flex;
  flex-direction: column;
  width: var(--max-width);
  max-width: 100%;
}

.flexBoxInner {
  display: flex;
  justify-content: space-around;
}

.question {
  width: 48%;
  padding: 10px;
}

.button {
  width: 48%;
  padding: 10px;
  cursor: pointer;
}

.answer {
  text-align: center;
  width: 80%;
  margin: 40px auto;
  background: #131313;
  color: #fff;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .flexBoxInner {
    flex-direction: column;
  }
  .question {
    width: 100%;
  }
  
  .button {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}